.newTask {
    box-sizing: border-box;
    display: flex;
    background: var(--gray-400);
    padding: 16px;
    border-radius: 8px;
    margin: 16px;
    width: 736px;
    justify-content: space-between;
    align-items: center;
}

.newTask p {
    font-size: 14px;
}

.newTask > input[type="checkbox"] {
    margin-right: 16px;
    background: var(--gray-400);
    width: 24px;
    height: 24px;
    cursor: pointer;
    appearance: none;
    border: 2px solid var(--blue);
    border-radius: 50%;
    transition: background-color 0.1s ease-in-out;
}

.newTask > input[type="checkbox"]:checked:not(hover) {
    background: var(--purple);
    border: none;
}

.newTask > input[type="checkbox"]:hover {
    background-color: var(--blue-dark);
}