.newTask {
    box-sizing: border-box;
    display: flex;
    background: var(--gray-400);
    padding: 16px;
    border-radius: 8px;
    margin: 8px;
    width: 736px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.247);
}

.newTask p {
    font-size: 14px;
}

.svg {
    cursor: pointer;
}

.newTask > input[type="checkbox"] {
    margin-right: 16px;
    background: var(--gray-400);
    width: 24px;
    height: 24px;
    cursor: pointer;
    appearance: none;
    border: 2px solid var(--blue);
    border-radius: 50%;
    transition: background-color 0.1s ease-in-out;
}

.newTask > input[type="checkbox"]:checked:not(hover) {
    background: var(--purple);
}

.newTask > input[type="checkbox"]:checked + p {
    text-decoration: line-through;
}

.newTask > input[type="checkbox"]:hover {
    background-color: var(--blue-dark);
}

.newTask > svg {
    margin-right: 16px;
    width: 24px;
    height: 24px;
    
}
.newTask > svg:hover {
    fill: var(--danger);
}

.completed {
    text-decoration: line-through;
    color: var(--gray-500);
    border: none;
}
